.footer {
    float:clear;
    flex-direction: row;
    flex-wrap:wrap;
    background-color: black;
    color: aliceblue;
    padding: 1rem 2rem;
}

.footer::after {
    content: "";
    display: block;
    clear: both;
}
 

.links {
    float: left;
}

.links a::after {
    content: " >>";
}

.social {
    float: right;
}

.social i::before {
    font-size: 2rem;
}

.footer a {
    color: aliceblue;
    text-decoration: none;
}

.footer a:hover {
    color: lightskyblue;
}

.social-list {
    display: flex;
    list-style: none;
}

.social-list li {
    margin: 0 .5rem;
}

@media all and (max-width:768px) {
    .footer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .links-list {
        list-style-type: none;
        text-align: center;
    }
    .links li {
        padding: .5rem;
    }

    .links a::after {
        content: none;
    }
    /* .social, .links {
        float: none;
    } */
}