.navbar {
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--navbar-size);
    line-height: var(--navbar-size);
    z-index: 999;
}

.navbar > .navbar-list {
    list-style-type: none;
    float: right;
    margin: 0;
    background-color: black;

}

.navbar-list > .navbar-item {
    display: inline-block;
}

.navbar-list > .navbar-item:last-child {
    margin-right: 50px;
}

.navbar-item a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

.navbar-item a:hover {
    background-color: #333333;
    color: rgb(216, 73, 139);
}

.logo {
    float: left;
    margin-left: 20px;
}